.challenge-skeleton{
    border-radius: 10px;
    cursor: pointer;
    height: 300px;
    width: 300px;
  }

  .challenges-skeleton {
    max-width: 1000px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
  
  }