.left-container .start-challenge {
    color: #ffff;
    background-color: #5c0d78;
    width: 20em;
    height: 3em;
    border: 1px solid #000000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    margin: 4%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-container .start-challenge:hover {
    background-color: #490861;
}

.challenge {
    display: flex;
    width: 30em;
    margin-left: 20em;
}

.principal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.principal-container h1 {
    color: var(--color-yellow);
    text-align: center;
}
.principal-container h2 {
    color: #ffff;
    font-size: 1.2em;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: center;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 1%;
}

.challenge-include {
    display: flex;
    flex-direction: column;
}

.challenge-include h3 {
    color: var(--color-purple);
    margin-top: 0.3em;
    padding: 0.2em;
    font-size: 1.6em;
}

.challenge-include span {
    color: #ffff;
    padding: 0.2em;
}

.challenge-include .icon {
    color: greenyellow;
}

.challenge-start {
    display: flex;
    flex-direction: column;
}

.challenge-start h3 {
    color: var(--color-purple);
    padding: 0.2em;
    margin-top: 0.3em;
    font-size: 1.6em;
}

.challenge-start span {
    color: #ffff;
    padding: 0.2em;
}

.principal-container p {
    color: #ffff;
}

.dev-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2c2929;
    border-radius: 1em;
    margin: 1em;
    height: 5em;
    width: 20em;
    justify-content: center;
}
.dev-container img {
    height: 50px;
    width: 50px;
    border-radius: 2em;
}
.dev-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.dev-name {
    font-size: 18px;
    color: #ffff;
}
.dev-position {
    font-weight: bold;
    font-size: 12px;
    color: #ffff;
}
.dev-social-media {
    display: flex;
    flex-direction: column;
}
.icon {
    text-decoration: none;
    color: #ffff;
    padding: 2px;
}

@media all and (max-width: 800px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0%;
        margin-top: 5%;
    }

    .left-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .stack {
        margin-top: 2em;
    }

    .left-container .start-challenge {
        width: 15em;
        height: 3em;
        margin: 0;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .challenge-level {
        background-color: #5c0d78;
        filter: brightness(90%);
        width: 6em;
    }
    .challenge-techs {
        width: 7em;
    }

    .challenge-type {
        width: 5em;
    }

    .principal-container {
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }

    .principal-container .challenge {
        margin-top: 7%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        max-width: 100%;
    }

    .principal-container h2 {
        text-align: center;
        margin-bottom: 4%;
    }

    .content {
        margin-left: 2%;
        text-align: left;
        align-items: center;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 1%;
    }
}
