.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6%;
    flex: 1;
}

.left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.left-container .start-challenge {
    color: #ffff;
    background-color: #5C0D78;
    width: 20em;
    height: 3em;
    border: 1px solid #000000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    margin: 4%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-container .start-challenge:hover {
    background-color: #490861;
}
.left-container .more {
    color: #ffff;
    background-color: #2C2929;
    width: 20em;
    height: 3em;
    border: 1px solid #000000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.left-container .more:hover {
    background-color: #383535;
}
.stack {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}
.challenge-level {
    background-color: #5C0D78;
    filter: brightness(90%);
    width: 9em;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.challenge-techs {
    filter: brightness(60%);
    width: 9em;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.challenge {
    display: flex;
    width: 30em;
    margin-left: 20em;
}

.challenge-type {
    filter: brightness(90%);
    width: 10em;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.principal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.principal-container h1{
    color: var(--color-yellow);
    text-align: center;
}
.principal-container h2 {
    color: #ffff;
    font-size: 1.2em;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: center;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 1%;
}

.challenge-include{
    display: flex;
    flex-direction: column;
}

.challenge-include h3 {
    color: var(--color-purple);
    margin-top: 0.3em;
    padding: 0.2em;
    font-size: 1.6em;
}

.challenge-include span {
    color: #ffff;
    padding: 0.2em;
}

.challenge-include .icon {
    color: greenyellow;
}

.challenge-start{
    display: flex;
    flex-direction: column;
}

.challenge-start h3 {
    color: var(--color-purple);
    padding: 0.2em;
    margin-top: 0.3em;
    font-size: 1.6em;
}

.challenge-start span {
    color: #ffff;
    padding: 0.2em;
}

.principal-container p {
    color: #ffff;
}

.dev-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2C2929;
    border-radius: 1em;
    margin: 1em;
    height: 5em;
    width: 20em;
    justify-content: center;
}
.dev-container img {
    height: 50px;
    width: 50px;
    border-radius: 2em;
}
.dev-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.dev-name{
    font-size: 18px;
    color: #ffff;
}
.dev-position{
    font-weight: bold;
    font-size: 12px;
    color: #ffff;
}
.dev-social-media {
    display: flex;
    flex-direction: column;
}
.icon{
    text-decoration: none;
    color: #ffff;
    padding: 2px;
}

@media all and (max-width: 800px){
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0%;
        margin-top: 5%;
    }

    .principal-container{
        align-items: center;
        justify-content: center;
    }

    .principal-container .challenge {
        margin-top: 3%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .content{
        margin-left: 2%;
    }

}