header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

header div {
  font-size: 30px;
  font-weight: bold;
  color: #ffff;
}

header div span{
 color: var(--color-yellow);
}

header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 20px;
  color: #ffff;
}

header ul li:hover {
  opacity: 0.8;
  cursor: pointer;
}

.active {
  color: var(--color-yellow);
}

header ul li {
margin-left: 20px;
}

span {
  color: var(--color-yellow);
}

.challenges {
  max-width: 1000px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;

}

.link {
  text-decoration: none;
}

.challenge-card{
  background-color: #242020;
  border-radius: 10px;
  cursor: pointer;

}

.card-image-container img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content p {
  padding: 5px;
  text-align: left;
  color: #ffff;
  padding: 15px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ffff;
  padding: 15px;
}

.card-tech{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 5px;
  padding: 15px;
}
.tech {
  color: var(--color-yellow);
  font-weight: bold;
}

.level {
  background-color: var(--color-yellow);
  filter: brightness(90%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}
