.help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help h3 {
    color: #ffff;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0.5em;
}
.new-challenge {
    color: #ffff;
    background-color: #5C0D78;
    width: 15em;
    height: 3em;
    border: 1px solid #000000;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-challenge:hover {
    background-color: #490861;
}