body .container {
    display: flex;
    flex-direction: column;
}
.section-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.section-options a {
    text-decoration: none;
}

.section-options div {
    width: 300px;
    height: 300px;
    background-color: #2c2929;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.section-options div:hover {
    transition: 0.7s;
    background-color: #242020;
}

.section-options div h2 {
    color: #ffff;
    margin-top: 20px;
    text-align: center;
}

.section-options .icon {
    color: #f4cf0a !important;
    font-size: 60px !important;
    height: 60px;
}

.devs-container {
    margin-top: 4em;
}

.devs-container h1 {
    text-align: center;
    color: #ffff;
}

.devs {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    justify-content: center;
    flex-wrap: wrap;
}

.devs .dev-individual-container{
    display: flex;
    flex-direction: column;
    width: 13em;
    height: 10em;
    align-items: center;
    /* background-color: #2C2929; */
    border-radius: 1em;
    margin: 1em;
    justify-content: center;
}

.dev-position {
    font-weight: bold;
    font-size: 12px;
    color: var(--color-yellow);
}

.dev-individual-container img {
    height: 50px;
    width: 50px;
    border-radius: 2em;
}

.dev-social-media{
    display: flex;
    flex-direction: row;
}