.banner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 160px;
}

.banner h1 {
    color: #ffff;
    font-size: 60px;
}

.banner h2 {
    color: #F4CF0A;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.banner button {
    color: #ffff;
    background-color: #5C0D78;
    width: 250px;
    height: 60px;
    border: 1px solid #000000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
}

.banner button:hover {
    background-color: #490861;
    animation: all 2s ease-in;
    transform: scale(1.2);
}

.typewriter h1 {
    color: #fff;
    overflow: hidden; 
    border-right: .15em solid #5C0D78; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .02em; 
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #5C0D78 }
  }

  .techs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

  }

  .techs div {
      width: 300px;
      height: 300px;
      background-color: #2C2929;
      margin: 50px;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    
    .techs div:hover{
        transition: 0.25s;
        background-color: #242020;
        /* border: 1px solid #F4CF0A; */
    }

    .techs div h2 {
        color: #ffff;
        margin-top: 20px;
    }

    .techs div .icon{
        color: #F4CF0A;
        width: 60px;
        height: 60px;
    }

    .challenge-link{
        text-decoration: none;
    }

    .steps {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px;
    }

    .steps div {
        margin: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .steps div h2 {
        color: #F4CF0A;
        margin-top: 20px;
    }

    .steps div .icon-steps {
        color: #ffff;
        width: 60px;
        height: 60px;
    }

    .newsletter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .newsletter div {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: 2em;
    }

    .newsletter form {
        display: flex;
        flex-direction: column;
    }

    .newsletter h1 {
        color: #ffff;
        font-size: 2em;
        margin-bottom: 0.1em;
    }

    .newsletter p {
        color: var(--color-yellow);
        font-size:1em;
    }

    .newsletter input {
        height:3.5em;
        width: 20em;
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: .5em;
        border: 1px solid #ffff;
        padding: 20px;
        font-size: 18px;
    }

    .newsletter button {
        color: #ffff;
        background-color: #5C0D78;
        width: 350px;
        height: 60px;
        border: 1px solid #000000;
        font-weight: bold;
        font-size: 20px;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .newsletter button:hover {
        background-color: #490861;
    }

    /* @media only screen and (max-device-width: 900px) {
        .banner { width:100%; } 
        }

        @media only screen and (max-device-width: 700px) {
            .banner { width:400px; } 
            } */
@media all and (max-width: 800px){
    .banner {
        margin-top: 14%;
        margin-bottom: 14%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .typewriter h1{
        font-size: 1.8em;
    }

    .techs div .icon{
        height: 3em;
        width: 3em;
    }

    .banner h2 {
        font-size: 1em;
    }

    .techs div {
        height: 8em;
        width: 20em;
        margin: 0;
        margin-bottom: 1.4em;
    }

    .techs div h2 {
        margin-top: 0.6em;
    }

    .steps {
        padding: 0;
    }

    .steps div {
        height: 10em;
        width: 20em;
        margin: 1em
    }

    .steps div h2 {
        font-size: 1em;
    }

    .steps div .icon-steps {
        height: 3em;
        width: 3em;
    }

    .newsletter {
        flex-direction: column;
    }

    .newsletter div {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 0;
    }

    .newsletter h1 {
        color: #ffff;
        font-size: 1.3em;
        margin-bottom: 0.1em;
    }

    .newsletter p {
        color: var(--color-yellow);
        font-size:1em;
        margin: 1em;
    }

    .newsletter-form {
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 3em;
    }

    .newsletter input {
        height:3em;
        width: 18em;
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: .5em;
        border: 1px solid #ffff;
        padding: 20px;
        font-size: 18px;
    }

    .newsletter button {
        color: #ffff;
        background-color: #5C0D78;
        width: 16em;
        height: 3em;
        border: 1px solid #000000;
        font-weight: bold;
        font-size: 20px;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.3s;
    }
}
            